<style>
    * {
        font-family: Arial;
    }

    h1 {
        color: #04aa6d;
    }

    img {
        max-width: 300px;
        max-height: 300px;
    }

    .product {
        display: flex;
        border: 2px #04aa6d solid;
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px;
    }

    .heading {
        display: flex;
        align-items: center;
    }

    a {
        margin-left: 10px;
    }

    h2 {
        color: #04aa6d;
    }
</style>


<div class="heading">
    <h1 style="font-family: Arial">НетМаркет</h1>
    <a href="/">Главная</a>
    <a href="/products">Товары</a>
    <a href="/discounts">Акции</a>
</div>

<div class="product">
    <img src="https://image.made-in-china.com/2f0j00ncprNWLyAQkh/Popular-500W-One-Wheel-Self-Balance-Electric-Scooter.webp">
    <div>
        <h2>Моноколесо</h2>
        <p>Моноколесо — это современное средство передвижения, которое становится всё более популярным в городах.
            Оно представляет собой одно колесо с двумя подножками по бокам и электрическим двигателем. Моноколесо компактное, лёгкое и удобное в использовании.</p>
    </div>
    <button>Купить</button>
</div>

<div class="product">
    <img src="https://i-market.shop/upload/iblock/851/s6s9ph8vew900s1c1lx12afcfkhivntt.jpg">
    <div>
        <h2>Смарт часы</h2>
        <p>Смарт-часы — это устройство, которое сочетает в себе функции часов и фитнес-трекера.
            Они могут отслеживать физическую активность, измерять пульс, считать шаги и калории, а также показывать уведомления о звонках и сообщениях.</p>
    </div>
    <button>Купить</button>
</div>