{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>

<div class="heading">
    <div class="logo">
        <h1>НетМаркет</h1>
    </div>

    <div class="navigation">
        <a href="/">Главная</a>
        <a href="/products">Товары</a>
        <a href="/discounts">Акции</a>
    </div>
</div>


<div class="productList">

<div class="product">
    <img src="{% static 'monowheel.webp' %}">
    <div>
        <h2>Моноколесо</h2>
        <p>Моноколесо — это современное средство передвижения, которое становится всё более популярным в городах.

            Оно представляет собой одно колесо с двумя подножками по бокам и электрическим двигателем. Моноколесо компактное, лёгкое и удобное в использовании.</p>
    </div>
     <div class="priceSection">
        <h3>19 990 ₽</h3>
        <button>Купить</button>
    </div>
</div>


<div class="product">
    <img src="https://i-market.shop/upload/iblock/851/s6s9ph8vew900s1c1lx12afcfkhivntt.jpg">
    <div>
        <h2>Смарт часы</h2>
        <p>Смарт-часы — это устройство, которое сочетает в себе функции часов и фитнес-трекера.
            Они могут отслеживать физическую активность, измерять пульс, считать шаги и калории, а также показывать уведомления о звонках и сообщениях.</p>
    </div>
    <div class="priceSection">
        <h3>19 990 ₽</h3>
        <button>Купить</button>
    </div>
</div>
</div>